<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
  <div class="login">
    <img src="{{ url_for('static', filename='IMG/Logo/Logo.jpeg') }}" alt="Logo">
    <h2>Login</h2>

    <form id="formLogin">
      <input type="email" id="email" placeholder="Email" required>
      <input type="password" id="senha" placeholder="Senha" required>
      <button type="submit" id="btnLogin">Entrar</button>
    </form>

    <!-- 🔥 link de cadastro -->
    <p class="cadastro-text">
      Não tem conta?
      <a href="/cadastro" class="cadastro-link">Cadastrar-se</a>
    </p>

    <p id="msg"></p>
  </div>

  <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
